.apropos-container{
  margin: 0 100px auto;
}

.apropos-info{
  color: #FF6060;
  display: flex;
  justify-content: space-between;
}

.tag-title-location {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.title-location {
  line-height: 30px;
}

.name-img-star{
  display: flex;
  flex-direction: column;
  margin: 15px;
  width: 12%;
}

.name-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
}

.name-img img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.apropos-collapse{
  display: flex;
  justify-content: space-between;
}

.apropos-collapse-title{
  width: 50%;
}

@media only screen and ( max-width:768px) {
  .apropos-container {
    margin: 20px 20px auto;
  }

  .apropos-info {
    flex-direction: column;
  }
  
  .slideshow .chevronRight {
    left: 90%;
  }

  .name-img-star{
    flex-direction: row-reverse;
    width: 90%;
    justify-content: space-between;
    margin: 0 15px;
  }

  .apropos-collapse{
    flex-direction: column;
  }

  .apropos-collapse-title{
    width: 100%;
  }

}