
/* BannerImage */
.Banner{
  padding-bottom: 20px;
  position: relative;
}
.Banner img{
  border-radius: 15px;
  width: 100%;
}

.Banner p {
  font-weight: bold;
  color: white;
  font-size: 26px;
  position: absolute;
  left: 30%;
  top: 20%;
}


@media only screen and ( max-width:768px) {
  .Banner img{
    height: 10vh;
  }
  .Banner p{
    left: 20%;
    top: 30%;
    font-size: 17px;
  }
}
