body,html {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.main {
  padding: 20px;
}
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.logo img{
  width: 100px;
  height: 30px;
  padding-top: 10px;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 20%;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #FF6060;
}

a:hover {
  text-decoration: underline;
}

@media only screen and ( max-width:768px) {
  .menu {
    width: 30%;
    font-size: 12px;
  }
}