
/* footer */

.footer{
  background-color: black;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.footerlogo{
  width: 55px;
  height: 20px;
  margin: auto;
}

.footertext {
  width: 200px;
  height: 15px;
  margin: auto;
}

/* @media only screen and ( max-width:768px) {
  .footer {
    position: absolute;
  }

} */