p {
  margin: 0;
}

.apropos {
  margin: 20px 100px auto;
}

.aproposCollapse {
  width: 90%;
  margin: auto;
}

@media only screen and (max-width:768px) {
  .apropos {
    margin: 20px 20px auto;
  }

  .aproposCollapse{
    width: 100%;
  }

  .aproposBanner img{
    height: 30vh;
    object-fit: cover;
  }
  
}